@model ConsultantVM
@{
    ViewData["Title"] = "InsertUpdateConsultant";
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
}

<section id="main-content">
    <section class="wrapper">
        <div class="row">
            <div class="col-lg-12">
                @{
                    var PageHeading = Model.Id == Guid.Empty ? "New Consultant" : "Edit Consultant";
                }
                <h1>@PageHeading</h1>
                <form asp-controller="Consultant" asp-action="InsertUpdateConsultant" method="post" class="mt-3">
                    <div class="form-group row">
                        <label asp-for="FirstName" class="col-sm-2 col-form-label"></label>
                        <div class="col-sm-4">
                            <input asp-for="FirstName" class="form-control" placeholder="First Name" />
                            <span asp-validation-for="FirstName" class="text-danger"></span>
                        </div>
                        <label asp-for="LastName" class="col-sm-2 col-form-label"></label>
                        <div class="col-sm-4">
                            <input asp-for="LastName" class="form-control" placeholder="Last Name" />
                            <span asp-validation-for="LastName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="Email" class="col-sm-2 col-form-label"></label>
                        <div class="col-sm-4">
                            <input asp-for="Email" class="form-control" placeholder="Email" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <label class="col-sm-2 form-check-label" asp-for="IsActive">
                            Status: Active
                        </label>
                        <div class="col-sm-4">
                            <input asp-for="IsActive" class="form-check-input" type="checkbox">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 form-check-label" asp-for="IsAdmin">
                            Is Admin
                        </label>
                        <div class="col-sm-4">
                            <input asp-for="IsAdmin" class="form-check-input" type="checkbox">
                        </div>
                    </div>
                    @*<div asp-validation-summary="All" class="text-danger">
                        </div>*@
                    <div class="form-group row">
                        <div class="col-sm-10">
                            <button type="submit" class="btn btn-primary">Save</button>
                            @*Total no of users are: @_userRepository.GetAllUsers().Count()*@
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-4">
                            <a asp-controller="Consultant" asp-action="Index">Back</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
</section>