@model Guid  

@{
    ViewBag.Title = "404 Error";
}

<div class="alert alert-danger mt-1 mb-1">
    <h4>4040 Not found Error : </h4>
    <hr />
    <h5>
        User with Id = @Model cannot be found
    </h5>
</div>